<div class="user-data">
    <form class="user-data__input">
        <label for="login">Login</label>
        <input 
        type="text" 
        id="login"
        name="login"
        placeholder="Enter Login"
        [(ngModel)]="login"
        >
        <label for="password">Password</label>
        <input 
        type="password" 
        id="password"
        name="password"
        placeholder="Enter Password"
        [(ngModel)]="password"
        >
        <label for="email">Email address</label>
        <input 
        type="text" 
        id="email"
        name="email"
        placeholder="Enter Email"
        [(ngModel)]="email"
        >
        <input 
        type="button" 
        value="Add user"
        (click)="addUser()"
        *ngIf="!editStatus"
        [disabled]="!password || !email || !login"
        >
        <input 
        type="button" 
        value="Save edit user"
        (click)="saveEditUser()"
        *ngIf="editStatus"
        [disabled]="!password || !email || !login"
        >
    </form>
    <table class="user-data__output">
        <thead>
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i=index">
                <td>{{i + 1}}</td>
                <td>{{user.login}}</td>
                <td>{{user.password}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button 
                    class="btn btn_edit" 
                    (click)="editUser(i)"
                    >Edit</button>
                </td>
                <td>
                    <button 
                    class="btn btn_delete" 
                    (click)="deleteUser(i)"
                    [disabled]="editStatus"
                    >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>