<div class="task-card-container">
    <div class="task-card">
        <img src="../../../assets/images/cenzor.png" alt="">
        <h2>Angular list of prohibited words</h2>
        <button class="btn btn_details" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">
            Details
        </button>
    </div>
    
    <div class="task-card">
        <img src="../../../assets/images/tasks.png" alt="">
        <h2>Angular task list</h2>
        <button class="btn btn_details" [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">
            Details
        </button>
    </div>
    
    <div class="task-card">
        <img src="../../../assets/images/users.png" alt="">
        <h2>Angular user list</h2>
        <button class="btn btn_details" [routerLink]="[ '/works/userlist' ]" routerLinkActive="active">
            Details
        </button>
    </div>
</div>