ul {
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #555;

    li {
        float: left;

        a, span {
            display: block;
            text-align: center;
            padding: 6px 4px;
            margin: 8px;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }

        a {
            color: rgb(169, 97, 157);
            
            &:hover {
                text-decoration: underline;
            }
        }

        &:last-child {
            float: right;

            a {
                color: rgb(159, 14, 14);
            }
        }

        .active {
            transform: scale(1.3);
            color: rgb(255, 255, 255);
            background-color: rgb(225, 179, 217);
            border-radius: 10px;
        }
    }
}